In [5]:
%reload_ext sql

In [7]:
%env DATABASE_URL=postgresql://my_portfolio:12345@localhost:5433/my_portfolio_internet_pricing

env: DATABASE_URL=postgresql://my_portfolio:12345@localhost:5433/my_portfolio_internet_pricing

### **Intermediate Questions**
#### 1. Basic Aggregations

##### What is the average price of 1GB of data in USD across all regions?
##### Which region has the highest average price of 1GB in USD?
##### Which region has the lowest average price of 1GB in USD?

In [7]:
%%sql SELECT ROUND(AVG(avg_price_1gb_usd)::numeric, 2) AS avg_all_regions
FROM internet_pricing;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[(Decimal('2.59'),)]

In [15]:
%%sql select continental_region, round (avg(avg_price_1gb_usd)::numeric,2) as avg_price from internet_pricing
WHERE avg_price_1gb_usd IS NOT NULL
group by continental_region
order by avg_price desc
limit 1;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[('NORTHERN AMERICA', Decimal('4.59'))]

In [16]:
%%sql select continental_region, round(avg(avg_price_1gb_usd)::numeric,2) as avg_price from internet_pricing
WHERE avg_price_1gb_usd IS NOT NULL
group by continental_region
order by avg_price
limit 1;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[('NORTHERN AFRICA', Decimal('0.86'))]

##### 2. **Filtering and Sorting**:
#####   - List the top 5 regions with the most expensive 1GB of data in USD.
#####   - List the top 5 regions with the cheapest 1GB of data in USD.

In [13]:
%%sql select continental_region, round (avg(avg_price_1gb_usd)::numeric,2) as avg_price from internet_pricing
WHERE avg_price_1gb_usd IS NOT NULL
group by continental_region
order by avg_price desc
limit 5;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
5 rows affected.

[('NORTHERN AMERICA', Decimal('4.59')),
 ('SUB-SAHARAN AFRICA', Decimal('4.03')),
 ('SOUTH AMERICA', Decimal('3.74')),
 ('OCEANIA', Decimal('3.72')),
 ('NEAR EAST', Decimal('2.42'))]

In [8]:
%%sql select continental_region, round (avg(avg_price_1gb_usd)::numeric,2) as avg_price from internet_pricing
WHERE avg_price_1gb_usd IS NOT NULL
group by continental_region
order by avg_price desc
limit 1;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[('NORTHERN AMERICA', Decimal('4.59'))]

##### 3. **Grouping and Aggregations**:
#####    - What is the total number of plans measured in each region?
#####    - What is the average price of 1GB in USD for each region?

In [11]:
%%sql select continental_region, sum (plans_measured) as total_plans_measures
from internet_pricing
where plans_measured is NOT NULL
group by continental_region;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('BALTICS', 54.0),
 ('CARIBBEAN', 474.0),
 ('EASTERN EUROPE', 267.0),
 ('SUB-SAHARAN AFRICA', 1396.0),
 ('WESTERN EUROPE', 613.0),
 ('SOUTH AMERICA', 398.0),
 ('NORTHERN AMERICA', 101.0),
 ('CIS', 186.0),
 ('ASIA (EX. NEAR EAST)', 948.0),
 ('CENTRAL AMERICA', 229.0),
 ('NORTHERN AFRICA', 206.0),
 ('OCEANIA', 410.0),
 ('NEAR EAST', 376.0)]

In [12]:
%%sql select continental_region, round (avg (avg_price_1gb_usd)::numeric, 2) as avg_price
from internet_pricing
where continental_region is NOT NULL
group by continental_region;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('BALTICS', Decimal('1.87')),
 ('CARIBBEAN', Decimal('2.15')),
 ('EASTERN EUROPE', Decimal('1.27')),
 ('SUB-SAHARAN AFRICA', Decimal('4.03')),
 ('WESTERN EUROPE', Decimal('2.08')),
 ('SOUTH AMERICA', Decimal('3.74')),
 ('NORTHERN AMERICA', Decimal('4.59')),
 ('CIS', Decimal('1.80')),
 ('ASIA (EX. NEAR EAST)', Decimal('1.10')),
 ('CENTRAL AMERICA', Decimal('1.50')),
 ('NORTHERN AFRICA', Decimal('0.86')),
 ('OCEANIA', Decimal('3.72')),
 ('NEAR EAST', Decimal('2.42'))]

##### 4. **Date Manipulation**:
#####   - How many records were sampled in July 2023?
#####   - What is the average price of 1GB in USD for records sampled in 2023?

In [17]:
%%sql SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'internet_pricing' AND column_name = 'sample_date';

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[('sample_date', 'text')]

In [18]:
%%sql select count (*) as sample_record from internet_pricing
where to_char(to_date(sample_date, 'dd-mm-yyyy'), 'mm-yyyy') = '07-2023';

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[(118,)]

In [19]:
%%sql select continental_region, round(avg(avg_price_1gb_usd)::numeric,2) as avg_price_in_2023 from internet_pricing
where to_char(to_date(sample_date, 'dd-mm-yyyy'), 'yyyy') = '2023'
group by continental_region
order by avg_price_in_2023;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('NORTHERN AFRICA', Decimal('0.86')),
 ('ASIA (EX. NEAR EAST)', Decimal('1.10')),
 ('EASTERN EUROPE', Decimal('1.27')),
 ('CENTRAL AMERICA', Decimal('1.50')),
 ('CIS', Decimal('1.80')),
 ('BALTICS', Decimal('1.87')),
 ('WESTERN EUROPE', Decimal('2.08')),
 ('CARIBBEAN', Decimal('2.15')),
 ('NEAR EAST', Decimal('2.42')),
 ('OCEANIA', Decimal('3.72')),
 ('SOUTH AMERICA', Decimal('3.74')),
 ('SUB-SAHARAN AFRICA', Decimal('4.03')),
 ('NORTHERN AMERICA', Decimal('4.59'))]

##### 5. **Currency Conversion**:
#####   - Calculate the average price of 1GB in USD for each currency type.

In [6]:
%%sql select currency, round(avg(avg_price_1gb_usd)::numeric,2) as price_in_USD from internet_pricing
where currency is NOT NULL
group by currency
limit 3;

3 rows affected.

[('CDF', Decimal('0.68')), ('THB', Decimal('0.41')), ('HKD', Decimal('0.82'))]

### **Advanced Questions**
1. **Window Functions**:
   - Rank regions by the average price of 1GB in USD (from highest to lowest).
   - Calculate the difference between the cheapest and most expensive 1GB price in USD for each region.

In [7]:
%%sql select continental_region, round(avg(avg_price_1gb_usd)::numeric, 2),
rank () over (order by avg(avg_price_1gb_usd) desc) as rank
from internet_pricing
where avg_price_1gb_usd is NOT NULL
group by continental_region
limit 3;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
3 rows affected.

[('NORTHERN AMERICA', Decimal('4.59'), 1),
 ('SUB-SAHARAN AFRICA', Decimal('4.03'), 2),
 ('SOUTH AMERICA', Decimal('3.74'), 3)]

In [9]:
%%sql
SELECT 
    continental_region, 
    round ((MAX(most_expensive_1gb_usd) - MIN(cheapest_1gb_30days_usd))::numeric, 2) AS price_difference
FROM internet_pricing
WHERE continental_region IS NOT NULL
GROUP BY continental_region
ORDER BY price_difference DESC
limit 3;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
3 rows affected.

[('SUB-SAHARAN AFRICA', Decimal('138.17')),
 ('BALTICS', Decimal('106.85')),
 ('NEAR EAST', Decimal('99.90'))]

##### 2. **Subqueries**:
#####   - Find regions where the average price of 1GB in USD is higher than the global average.
#####   - Find regions where the cheapest 1GB price in USD is less than $0.10.

In [46]:
%%sql select continental_region
from internet_pricing
group by continental_region
having avg(avg_price_1gb_usd) > (select avg(avg_price_1gb_usd) from internet_pricing);

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
4 rows affected.

[('SUB-SAHARAN AFRICA',),
 ('SOUTH AMERICA',),
 ('NORTHERN AMERICA',),
 ('OCEANIA',)]

In [55]:
%%sql select continental_region 
from internet_pricing
group by continental_region
Having min(cheapest_1gb_30days_usd) <0.1;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
11 rows affected.

[('CARIBBEAN',),
 ('EASTERN EUROPE',),
 ('WESTERN EUROPE',),
 ('SUB-SAHARAN AFRICA',),
 ('SOUTH AMERICA',),
 ('CIS',),
 ('ASIA (EX. NEAR EAST)',),
 ('CENTRAL AMERICA',),
 ('OCEANIA',),
 ('NEAR EAST',),
 ('BALTICS',)]

##### 3. **Joins (if you add more tables)**:
#####   - If you add a table for currency exchange rates, join it with the `data_pricing` table to calculate the average price of 1GB in a different currency (e.g., EUR).

In [90]:
%%sql CREATE TABLE exchange_rates (
    currency_code VARCHAR(3) PRIMARY KEY,
    exchange_rate DECIMAL(10, 4) NOT NULL
);

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
Done.

[]

In [91]:
%%sql INSERT INTO exchange_rates (currency_code, exchange_rate) VALUES
('AED', 3.67),
('AFN', 85.00),
('ALL', 102.50),
('AMD', 400.00),
('ANG', 1.79),
('AOA', 830.00),
('ARS', 350.00),
('AUD', 1.50),
('AWG', 1.79),
('AZN', 1.70),
('BAM', 1.85),
('BBD', 2.00),
('BDT', 110.00),
('BGN', 1.80),
('BHD', 0.38),
('BIF', 2800.00),
('BMD', 1.00),
('BND', 1.35),
('BOB', 6.90),
('BRL', 5.20),
('BSD', 1.00),
('BTN', 82.00),
('BWP', 13.50),
('BYR', 25000.00),
('BZD', 2.00),
('CAD', 1.30),
('CDF', 2200.00),
('CHF', 0.92),
('CLP', 850.00),
('CNY', 7.10),
('COP', 3900.00),
('CRC', 540.00),
('CUP', 24.00),
('CVE', 102.00),
('CZK', 22.50),
('DJF', 177.00),
('DKK', 7.00),
('DOP', 58.00),
('DZD', 137.00),
('EGP', 30.00),
('ETB', 54.00),
('EUR', 1.07),
('FJD', 2.20),
('GBP', 0.75),
('GEL', 2.70),
('GHS', 12.00),
('GIP', 0.75),
('GMD', 62.00),
('GNF', 8600.00),
('GTQ', 7.80),
('GYD', 210.00),
('HKD', 7.85),
('HUF', 380.00),
('IDR', 15000.00),
('ILS', 3.75),
('INR', 82.00),
('IQD', 1450.00),
('IRR', 42000.00),
('ISK', 140.00),
('JMD', 155.00),
('JOD', 0.71),
('JPY', 110.25),
('KES', 140.00),
('KGS', 90.00),
('KHR', 4100.00),
('KMF', 450.00),
('KRW', 1300.00),
('KWD', 0.31),
('KZT', 450.00),
('LAK', 20000.00),
('LBP', 89000.00),
('LKR', 320.00),
('LSL', 18.50),
('LYD', 4.90),
('MAD', 10.50),
('MDL', 18.00),
('MGA', 4500.00),
('MKD', 60.00),
('MMK', 2100.00),
('MNT', 3400.00),
('MOP', 8.10),
('MRO', 350.00),
('MUR', 45.00),
('MVR', 15.40),
('MWK', 1100.00),
('MXN', 17.50),
('MYR', 4.60),
('MZN', 64.00),
('NAD', 18.50),
('NGN', 800.00),
('NIO', 36.50),
('NOK', 10.50),
('NPR', 130.00),
('NZD', 1.60),
('OMR', 0.38),
('PAB', 1.00),
('PEN', 3.80),
('PGK', 3.50),
('PHP', 56.00),
('PKR', 300.00),
('PLN', 4.50),
('PYG', 7200.00),
('QAR', 3.64),
('RON', 4.95),
('RSD', 116.00),
('RUB', 90.00),
('RWF', 1100.00),
('SAR', 3.75),
('SCR', 13.00),
('SDG', 600.00),
('SEK', 11.00),
('SGD', 1.35),
('SLE', 25.00),
('SLL', 25000.00),
('SOS', 580.00),
('SRD', 40.00),
('STN', 24.00),
('SYP', 8500.00),
('SZL', 18.50),
('THB', 36.00),
('TJS', 11.50),
('TMT', 3.50),
('TND', 3.10),
('TOP', 2.30),
('TRY', 27.00),
('TTD', 6.80),
('TWD', 31.50),
('TZS', 2300.00),
('UAH', 37.00),
('UGX', 3700.00),
('USD', 1.00),
('UYU', 38.00),
('UZS', 11600.00),
('VND', 23500.00),
('VUV', 120.00),
('WST', 2.70),
('XAF', 650.00),
('XCD', 2.70),
('XOF', 650.00),
('XPF', 120.00),
('YER', 250.00),
('ZAR', 18.50),
('ZMW', 22.00);

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
143 rows affected.

[]

%%sql SELECT column_name, data_type
FROM information_schema.columns 
WHERE table_name = 'internet_pricing';

In [108]:
%%sql ALTER TABLE internet_pricing
ALTER COLUMN currency TYPE varchar(10);

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
Done.

[]

In [113]:
%%sql ALTER TABLE exchange_rates
ALTER COLUMN currency_code TYPE varchar(10);

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
Done.

[]

In [9]:
%%sql 
SELECT 
    ip.currency, ip.price_1gb_usd,
    ROUND(ip.price_1gb_usd * er.exchange_rate, 2) AS avg_price_1gb_in_currency
FROM (
    SELECT currency, ROUND(AVG(avg_price_1gb_usd)::NUMERIC, 2) AS price_1gb_usd
    FROM internet_pricing
    WHERE continental_region IS NOT NULL
    GROUP BY currency
) ip
JOIN exchange_rates er 
ON ip.currency = er.currency_code
limit 3;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
3 rows affected.

[('CDF', Decimal('0.68'), Decimal('1496.00')),
 ('THB', Decimal('0.41'), Decimal('14.76')),
 ('HKD', Decimal('0.82'), Decimal('6.44'))]

##### 4. **Advanced Aggregations**:

##### - Calculate the median price of 1GB in USD for each region.
##### - Find the region with the highest variance in 1GB prices (cheapest vs. most expensive).

In [24]:
%%sql WITH median AS (
    SELECT 
        avg_price_1gb_usd,
        ROW_NUMBER() OVER (ORDER BY avg_price_1gb_usd) AS row_num,
        COUNT(*) OVER () AS total_count
    FROM internet_pricing
    WHERE avg_price_1gb_usd IS NOT NULL
)
SELECT  
    CASE 
        WHEN total_count % 2 = 1 THEN 
            (SELECT avg_price_1gb_usd FROM median WHERE row_num = (total_count + 1) / 2)
        ELSE 
            (SELECT AVG(avg_price_1gb_usd) 
             FROM median 
             WHERE row_num IN (total_count / 2, total_count / 2 + 1))
    END AS median_price
FROM median 
LIMIT 1;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[(1.28,)]

In [19]:
%%sql SELECT continental_region, 
       ROUND((MAX(most_expensive_1gb_usd) - MIN(cheapest_1gb_30days_usd))::NUMERIC, 2) AS Variance
FROM internet_pricing
WHERE continental_region IS NOT NULL
GROUP BY continental_region;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('BALTICS', Decimal('106.85')),
 ('CARIBBEAN', Decimal('25.72')),
 ('EASTERN EUROPE', Decimal('19.21')),
 ('SUB-SAHARAN AFRICA', Decimal('138.17')),
 ('WESTERN EUROPE', Decimal('64.16')),
 ('SOUTH AMERICA', Decimal('74.89')),
 ('NORTHERN AMERICA', Decimal('82.96')),
 ('CIS', Decimal('26.96')),
 ('ASIA (EX. NEAR EAST)', Decimal('82.04')),
 ('CENTRAL AMERICA', Decimal('19.98')),
 ('NORTHERN AFRICA', Decimal('3.51')),
 ('OCEANIA', Decimal('53.54')),
 ('NEAR EAST', Decimal('99.90'))]

##### 5. **Data Cleaning**:

##### - Identify and handle missing or inconsistent data (e.g., NULL values in `sample_date`).

In [22]:
%%sql SELECT 
    COUNT(*) AS total_rows,
    COUNT(sample_date) AS non_null_sample_date,
    COUNT(global_totals_2023) AS non_null_global_totals
FROM internet_pricing;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[(999, 237, 6)]

In [24]:
%%sql SELECT * FROM internet_pricing 
WHERE sample_date IS NULL OR global_totals_2023 IS NULL
limit 10;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
10 rows affected.

[('ASIA (EX. NEAR EAST)', 35.0, 13.32, 'INR', 0.01202, 0.16, 3.78, 0.05, 645.0, 7.75, '24-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('CIS', 10.0, 15.4, 'KGS', 0.01133, 0.17, 9.5, 0.11, 33.33, 0.38, '25-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('WESTERN EUROPE', 49.0, 0.18, 'EUR', 1.07157, 0.2, 0.09, 0.09, 59.9, 64.19, '19-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('SOUTH AMERICA', 49.0, 812.5, 'COP', 0.00024, 0.2, 251.6, 0.06, 16666.67, 4.06, '14-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('CARIBBEAN', 31.0, 30.0, 'HTG', 0.00732, 0.22, 12.5, 0.09, 142.86, 1.05, '23-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('ASIA (EX. NEAR EAST)', 60.0, 25.39, 'BDT', 0.0091, 0.23, 5.0, 0.05, 632.81, 5.76, '30-08-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('ASIA (EX. NEAR EAST)', 46.0, 80.58, 'LKR', 0.00309, 0.25, 29.9, 0.09, 382.57, 1.18, '05-09-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('ASIA (EX. NEAR EAST)', 51.0, 5000.0, 'LAK', 5e-05, 0.25, 1133.33, 0.06, 40000.0, 2.02, '26-07-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('CIS', 19.0, 25.0, 'RUB', 0.01016, 0.25, 13.33, 0.14, 150.0, 1.52, '31-08-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('CIS', 11.0, 10.0, 'UAH', 0.02702, 0.27, 4.8, 0.13, 1000.0, 27.02, '10-08-2023', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

##### 6. **Advanced Filtering**:

##### - Find regions where the most expensive 1GB price in USD is more than 10 times the cheapest price.

In [42]:
%%sql 
WITH tempy AS (
    SELECT continental_region, 
           MAX(most_expensive_1gb_usd) AS max_price, 
           MIN(cheapest_1gb_30days_usd) AS min_price
    FROM internet_pricing
    WHERE continental_region IS NOT NULL
    GROUP BY continental_region
)
SELECT continental_region,
       max_price,
       min_price
FROM tempy
WHERE max_price >= 10 * min_price;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('BALTICS', 106.94, 0.09),
 ('CARIBBEAN', 25.81, 0.09),
 ('EASTERN EUROPE', 19.24, 0.03),
 ('SUB-SAHARAN AFRICA', 138.19, 0.02),
 ('WESTERN EUROPE', 64.19, 0.03),
 ('SOUTH AMERICA', 74.92, 0.03),
 ('NORTHERN AMERICA', 83.33, 0.37),
 ('CIS', 27.02, 0.06),
 ('ASIA (EX. NEAR EAST)', 82.04, 0.005),
 ('CENTRAL AMERICA', 20.0, 0.02),
 ('NORTHERN AFRICA', 3.66, 0.15),
 ('OCEANIA', 53.58, 0.04),
 ('NEAR EAST', 99.9, 0.001)]

##### 7. **Time-Based Analysis**:

- Compare the average price of 1GB in USD between the first half of 2023 and the second half of 2023.

In [62]:
%%sql 
SET datestyle = 'DMY';  -- Set the date style to Day-Month-Year

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
Done.

[]

In [115]:
%%sql SELECT 
    CASE 
        WHEN sample_date >= '2023-01-01' AND sample_date < '2023-07-01' THEN 'First Half 2023'
        WHEN sample_date >= '2023-07-01' AND sample_date <= '2023-12-31' THEN 'Second Half 2023'
    END AS period,
    AVG(avg_price_1gb_usd) AS average_price_1gb_usd
FROM internet_pricing
WHERE sample_date BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY period;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[('Second Half 2023', 2.5891983122362867)]

In [113]:
%%sql ALTER TABLE internet_pricing 
ALTER COLUMN sample_date TYPE DATE USING sample_date::DATE;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
Done.

[]

In [117]:
%%sql SELECT COUNT(*), MIN(sample_date), MAX(sample_date)
FROM internet_pricing 
WHERE sample_date BETWEEN '2023-01-01' AND '2023-06-30';

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
1 rows affected.

[(0, None, None)]

In [118]:
%%sql SELECT period, COALESCE(AVG(avg_price_1gb_usd), 0) AS average_price_1gb_usd
FROM (
    SELECT 'First Half 2023' AS period
    UNION ALL
    SELECT 'Second Half 2023'
) p
LEFT JOIN (
    SELECT 
        CASE 
            WHEN sample_date >= '2023-01-01' AND sample_date < '2023-07-01' THEN 'First Half 2023'
            WHEN sample_date >= '2023-07-01' AND sample_date <= '2023-12-31' THEN 'Second Half 2023'
        END AS period,
        avg_price_1gb_usd
    FROM internet_pricing
    WHERE sample_date BETWEEN '2023-01-01' AND '2023-12-31'
) i USING (period)  -- Join on the "period" column
GROUP BY period;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
2 rows affected.

[('First Half 2023', 0.0), ('Second Half 2023', 2.5891983122362867)]


#### 8. **Advanced Calculations**:

##### - Calculate the percentage difference between the average price of 1GB in USD and the cheapest price for each region

In [140]:
%%sql
SELECT 
    continental_region,
    ROUND(CAST(AVG(avg_price_1gb_usd) AS numeric), 2) AS avg,
    MIN(cheapest_1gb_30days_usd) AS min,
    ROUND(CAST((AVG(avg_price_1gb_usd) - MIN(cheapest_1gb_30days_usd)) AS numeric), 2) AS Diff,
    ROUND(
        CAST(((AVG(avg_price_1gb_usd) - MIN(cheapest_1gb_30days_usd)) / 
            NULLIF(MIN(cheapest_1gb_30days_usd), 0)) * 100 AS numeric), 2
    ) AS Diff_Percentage
FROM internet_pricing
WHERE continental_region IS NOT NULL
GROUP BY continental_region;

 * postgresql://my_portfolio:***@localhost:5433/my_portfolio_internet_pricing
13 rows affected.

[('BALTICS', Decimal('1.87'), 0.09, Decimal('1.78'), Decimal('1981.48')),
 ('CARIBBEAN', Decimal('2.15'), 0.09, Decimal('2.06'), Decimal('2287.74')),
 ('EASTERN EUROPE', Decimal('1.27'), 0.03, Decimal('1.24'), Decimal('4146.67')),
 ('SUB-SAHARAN AFRICA', Decimal('4.03'), 0.02, Decimal('4.01'), Decimal('20035.00')),
 ('WESTERN EUROPE', Decimal('2.08'), 0.03, Decimal('2.05'), Decimal('6820.69')),
 ('SOUTH AMERICA', Decimal('3.74'), 0.03, Decimal('3.71'), Decimal('12380.95')),
 ('NORTHERN AMERICA', Decimal('4.59'), 0.37, Decimal('4.22'), Decimal('1141.22')),
 ('CIS', Decimal('1.80'), 0.06, Decimal('1.74'), Decimal('2898.48')),
 ('ASIA (EX. NEAR EAST)', Decimal('1.10'), 0.005, Decimal('1.10'), Decimal('21950.00')),
 ('CENTRAL AMERICA', Decimal('1.50'), 0.02, Decimal('1.48'), Decimal('7412.50')),
 ('NORTHERN AFRICA', Decimal('0.86'), 0.15, Decimal('0.71'), Decimal('472.38')),
 ('OCEANIA', Decimal('3.72'), 0.04, Decimal('3.68'), Decimal('9194.79')),
 ('NEAR EAST', Decimal('2.42'), 0.001, Decimal('2.42'), Decimal('242033.33'))]